# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (c) 2025 Western Digital Corporation or its affiliates.
#
# Authors: Dennis Maisenbacher (dennis.maisenbacher@wdc.com)

name: Debug2

on:
  pull_request:
  workflow_dispatch:

#This workflow requires an actions-runner-controllers (ARC) to be active.
#The k8s cluster of this ARC needs KubeVirt to be installed.
jobs:
  debug2:
    #This step runs in a container in the k8s cluster 
    runs-on: arc-vm-dennis-block-ci
    steps:
      - name: Checkout blktests-ci
        uses: actions/checkout@v6
        with:
          repository: linux-blktests/blktests-ci
          path: blktests-ci

      - name: Run in VM
        uses: ./blktests-ci/.github/actions/kubevirt-action
        with:
          kernel_version: linus-master
          vm_artifact_upload_dir: blktests/results
          run_cmds: |
            #Print VM debug info
            uname -a
            cat /etc/os-release
            lsblk
            mkdir blktests
            mkdir blktests/results
            lsblk > blktests/results/test.log
            sleep 600
            exit 0

